.contact-section{
    background-color: #4F46BA;
    position: relative;
    min-height: 400px;
    margin-top: 150px;
}
.squar-1{
    width: 65px;
    height: 65px;
    background-color: #1B1C31;
    position: absolute;
    top: 0;
    left: 0;
}
.squar-2{
    width: 45px;
    height: 45px;
    background-color: #FFFFFF;
    position: absolute;
    top: 65px;
    left: 65px;
}
.squar-3{
    width: 65px;
    height: 65px;
    background-color: #6158C1;
    position: absolute;
    bottom: 45px;
    left: 0;
}
.squar-4{
    width: 45px;
    height: 45px;
    background-color: #1B1C31;
    position: absolute;
    bottom: 0;
    left: 65px;
}
.squar-5{
    width: 25px;
    height: 25px;
    background-color: #6158C1;
    position: absolute;
    bottom: 45px;
    left: 110px;
}
.curve-line{
    position: absolute;
    width: 100px;
    height: 100px;
    border-right: 3px solid #1B1C31;
    border-top-right-radius: 100px;
   
    top: 50%;
    left: 50%;
    transform: rotate(90deg);
}
.contact-left, .contact-right{
    width: 50%;
    min-height: 400px;
    position: relative;
}
.contact-left > h3{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
}
.contact-form-wrapper{
    width: 70%;
    display: block;
    margin: auto;
    border: 1px solid #E9E9E9;
    position: absolute;
    top: -150px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #F6F9FF;
}

.contact-form-wrapper .form-bb{
    position: absolute;
    bottom: -25px;
    left: -25px;
    width: 50px;
    height: 50px;
    background-color: #4F46BA;
    border-left: 1px solid #E9E9E9;
    transform: rotate(135deg);
}
.contact-form label{
margin-bottom: 15px;
margin-top: 20px;
color: #808285;
}
.contact-form input{
    border: none;
    border-bottom: 2px solid #1B1C31;
    padding: 10px;
    background-color: #F6F9FF !important;
}
.contact-form button{
    margin-top: 40px;
    background-color: #1B1C31;
}
.contact-circle{
    position: absolute;
    top: -40px;
    right: -40px;
    width: 80px;
    height: 80px;
    background-color: #FF7F5C;
    border-top-right-radius: 100%;

}