.specialist-left{
    width: 40%;
}
.specialist-right{
    width: 50%;
}

.specialist-items div .icon-wrapper{
  
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    margin-left: 0;
}

.specialist-right img{
    width: 100%;
}