.why-financy-cart{
    width: 95%;
    display: block;
    margin: auto;
    border: 1px solid #E9E9E9;
    position: relative;
}
.cart-bb{
    position: absolute;
    bottom: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-left: 1px solid #E9E9E9;
    transform: rotate(45deg);
}
.cart-badge{
    position: absolute;
    top: -40px;
    left: 40px;
    width: 76px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.badge-bb{
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-left: 1px solid #E9E9E9;
    transform: rotate(45deg);
}
.financy-cart-title{
    margin-top: 80px;
    margin-left: 40px;
}
.financy-cart-text{
   margin: 40px 0 40px 40px;
}
.why-choose-us-items > div > p{
    color: #757095;
}